header{
    width: 980px;
    height: 140px;
    background-color: blue;
}   

#sidebar{
    display: inline-block;
    width: 270px;
    height: 450px;
    background-color: red;
    margin-bottom: 15px;
    

    }

#content{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: pink;
    width: 690px;
    height: 450px;
    
}

#footer{
    width: 980px;
    height: 70px;
    background-color: black;
}
